#github_profile {
  width: 100%;
  padding: 20px;
}

#github_profile img {
  background-color: #ccc;
  width: 260px;
  height: 260px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  margin-bottom: 1em;
}

.profile_name {
  font-size: 24px;
  line-height: 1.25;
  display: block;
  font-weight: bold;
}

.profile_login {
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  color: #57606a;
  margin-bottom: 1em;
}

.profile_bio {
  font-size: 16px;
}
