#form_wrapper {
  max-width: 66%;
  margin: 30px auto 0 auto;
  min-height: auto;
  box-shadow: 1px 1px 10px 4px rgba(0, 0, 0, 0.159);
  border-radius: 10px;
  padding: 20px;
  overflow: hidden;
}

#form_wrapper h3 {
  font-size: 1.5em;
  font-weight: bolder;
  text-align: center;
  margin-bottom: 1em;
}

.label {
  display: flex;
  flex-direction: column;
}

.label span {
  font-weight: bold;
}

input {
  margin-bottom: 1em;
  padding: 1em 0;
  outline: none;
  border: none;
  background-color: transparent;
}

input[type="text"] {
  border-bottom: 1px solid #ccc;
}

input[type="submit"] {
  cursor: pointer;
  background-color: #aeccda;
  border-radius: 5px;
  padding: 0.6em 0.8em;
  font-weight: bold;
  border: 1px solid rgb(165, 165, 165);
}

input[type="submit"]:hover {
  opacity: 0.8;
}

input::placeholder {
  color: #aaa;
}

#github_profile {
  width: 100%;
  padding: 20px;
}

#github_profile img {
  background-color: #ccc;
  width: 260px;
  height: 260px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  margin-bottom: 1em;
}

.profile_name {
  font-size: 24px;
  line-height: 1.25;
  display: block;
  font-weight: bold;
}

.profile_login {
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  color: #57606a;
  margin-bottom: 1em;
}

.profile_bio {
  font-size: 16px;
  margin-bottom: 1em;
}

.profile_location,
.profile_email,
.profile_link {
  font-size: 1.2em;
  margin-bottom: 1em;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5em;
}

.profile_url {
  text-decoration: none;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

.profile_url:hover {
  color: #57606a;
}
