@keyframes move {
	100% {
		transform: translate3d(0, 0, 1px) rotate(360deg);
	}
}

.background {
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	background: #000333;
	overflow: hidden;
}

.background span {
	width: 20vmin;
	height: 20vmin;
	border-radius: 20vmin;
	backface-visibility: hidden;
	position: absolute;
	animation: move;
	animation-duration: 45;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

.background span:nth-child(0) {
	color: #6e5494;
	top: 92%;
	left: 16%;
	animation-duration: 15s;
	animation-delay: -22s;
	transform-origin: 24vw -18vh;
	box-shadow: -40vmin 0 5.55226663796973vmin currentColor;
}
.background span:nth-child(1) {
	color: #6e5494;
	top: 68%;
	left: 19%;
	animation-duration: 10s;
	animation-delay: -6s;
	transform-origin: 15vw 8vh;
	box-shadow: 40vmin 0 5.427773358429815vmin currentColor;
}
.background span:nth-child(2) {
	color: #6e5494;
	top: 93%;
	left: 87%;
	animation-duration: 13s;
	animation-delay: -32s;
	transform-origin: 18vw -19vh;
	box-shadow: 40vmin 0 5.418249211912574vmin currentColor;
}
.background span:nth-child(3) {
	color: #6e5494;
	top: 56%;
	left: 32%;
	animation-duration: 6s;
	animation-delay: -23s;
	transform-origin: -11vw -4vh;
	box-shadow: 40vmin 0 5.772650588088199vmin currentColor;
}
.background span:nth-child(4) {
	color: #6e5494;
	top: 74%;
	left: 96%;
	animation-duration: 19s;
	animation-delay: -16s;
	transform-origin: 12vw -19vh;
	box-shadow: -40vmin 0 5.245697691195047vmin currentColor;
}
.background span:nth-child(5) {
	color: #6e5494;
	top: 82%;
	left: 84%;
	animation-duration: 47s;
	animation-delay: -34s;
	transform-origin: 5vw 8vh;
	box-shadow: -40vmin 0 5.322183575495249vmin currentColor;
}
.background span:nth-child(6) {
	color: #6e5494;
	top: 69%;
	left: 96%;
	animation-duration: 15s;
	animation-delay: -24s;
	transform-origin: -6vw 12vh;
	box-shadow: 40vmin 0 5.475289539420561vmin currentColor;
}
.background span:nth-child(7) {
	color: #6e5494;
	top: 67%;
	left: 12%;
	animation-duration: 35s;
	animation-delay: -18s;
	transform-origin: -21vw 25vh;
	box-shadow: 40vmin 0 5.407674979500498vmin currentColor;
}
.background span:nth-child(8) {
	color: #6e5494;
	top: 32%;
	left: 18%;
	animation-duration: 39s;
	animation-delay: -14s;
	transform-origin: -14vw -20vh;
	box-shadow: -40vmin 0 5.94098006118048vmin currentColor;
}
.background span:nth-child(9) {
	color: #6e5494;
	top: 17%;
	left: 46%;
	animation-duration: 30s;
	animation-delay: -17s;
	transform-origin: 16vw -9vh;
	box-shadow: -40vmin 0 5.481979239256512vmin currentColor;
}
.background span:nth-child(10) {
	color: #6e5494;
	top: 42%;
	left: 57%;
	animation-duration: 44s;
	animation-delay: -28s;
	transform-origin: 12vw -3vh;
	box-shadow: -40vmin 0 5.228745929840529vmin currentColor;
}
.background span:nth-child(11) {
	color: #6e5494;
	top: 59%;
	left: 2%;
	animation-duration: 48s;
	animation-delay: -22s;
	transform-origin: 13vw -16vh;
	box-shadow: 40vmin 0 5.4330703003944425vmin currentColor;
}
.background span:nth-child(12) {
	color: #6e5494;
	top: 86%;
	left: 10%;
	animation-duration: 47s;
	animation-delay: -48s;
	transform-origin: -10vw 25vh;
	box-shadow: -40vmin 0 5.534064677412862vmin currentColor;
}
.background span:nth-child(13) {
	color: #6e5494;
	top: 58%;
	left: 86%;
	animation-duration: 48s;
	animation-delay: -14s;
	transform-origin: 25vw 17vh;
	box-shadow: 40vmin 0 5.421845230288826vmin currentColor;
}
.background span:nth-child(14) {
	color: #6e5494;
	top: 98%;
	left: 20%;
	animation-duration: 38s;
	animation-delay: -40s;
	transform-origin: -10vw -20vh;
	box-shadow: -40vmin 0 5.574069357736028vmin currentColor;
}
.background span:nth-child(15) {
	color: #6e5494;
	top: 8%;
	left: 45%;
	animation-duration: 8s;
	animation-delay: -24s;
	transform-origin: 12vw -19vh;
	box-shadow: -40vmin 0 5.3989776096798385vmin currentColor;
}
.background span:nth-child(16) {
	color: #6e5494;
	top: 63%;
	left: 91%;
	animation-duration: 17s;
	animation-delay: -19s;
	transform-origin: 17vw -24vh;
	box-shadow: -40vmin 0 5.685748158887873vmin currentColor;
}
.background span:nth-child(17) {
	color: #6e5494;
	top: 57%;
	left: 37%;
	animation-duration: 23s;
	animation-delay: -28s;
	transform-origin: 14vw -14vh;
	box-shadow: 40vmin 0 5.67650953720484vmin currentColor;
}
.background span:nth-child(18) {
	color: #6e5494;
	top: 74%;
	left: 74%;
	animation-duration: 42s;
	animation-delay: -20s;
	transform-origin: 23vw -12vh;
	box-shadow: -40vmin 0 5.0104381672002445vmin currentColor;
}
.background span:nth-child(19) {
	color: #6e5494;
	top: 46%;
	left: 14%;
	animation-duration: 8s;
	animation-delay: -14s;
	transform-origin: -10vw 2vh;
	box-shadow: -40vmin 0 5.703300055160041vmin currentColor;
}
